---
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Stats from "../components/Stats.astro"
import Layout from "../layouts/Layout.astro";

---

<Layout title="DENIS Construction">
	<Navbar />
	<div class="grid md:grid-rows-32 row- md:grid-cols-8">
		<div class="col-span-6 row-span-1">
			<Hero />
		</div>
		<div class="col-span-2 row-span-1">
			<Stats />
		</div>
		<div id="about" class="flex md:h-50 border-b items-center whitespace-pre flex-row md:pb-10 col-span-6 border-[#5c5757] md:border-r  bg-[#1f1f1f]">
			<div class="text-[#434141] md:text-3xl md:pb-12 px-8">ABOUT US</div>
			<div class="text-[#737373] pt-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident nesciunt vitae 
ipsam culpa. Delectus ipsum qui soluta magnam, veniam maxime assumenda culpa 
sequi incidunt eveniet eius impedit sint praesentium facilis velit perspiciatis facere 
commodi corporis possimus vel voluptas officiis ad quasi. Sapiente doloribus 
incidunt ratione perferendis nisi eaque? Accusamus, dolorem.</div>
		</div>
		<a class="bg-[#1f1f1f] md:h-50 md:col-span-2 flex justify-center items-center text-white" href="">Learn more about us {'->'}</a>
		</div>
</Layout>

<style>

	#about {
		font-family: 'Chakra Petch', 'sans-serif';
	}

	#about + a {
		font-family: 'Chakra Petch', 'sans-serif';
	}

</style>