
<section class="flex flex-row justify-center bg-[#1f1f1f] w-screen">
   <div class="md:border-r border-r border-[#575c5c] md:pl-16 px-4 py-4 w-full">
        <div class="flex flex-col text-white">
            <p class="text-[#434141] pb-2">GENERAL</p>
            <p>info@denisconstruction.com</p>
            <p>(123) 456-7890</p>
        </div>
        <div class="flex flex-col pt-4">
            <p class="text-[#434141] pb-3">ADDRESS</p>
            <div class="text-white">
                <p>69 rue de Paris</p>
                <p>Paris, France</p>
                <p>75016</p>
            </div>
        </div>
   </div>
   <div class="flex flex-col justify-center md:pl-16 pl-6 gap w-full">
        <p class="text-[#434141] md:text-md">SOCIAL</p>
        <div class="md:text-lg text-sm text-white pt-2">
            <p>INSTAGRAM</p>
            <p>FACEBOOK</p>
            <p>TWITTER</p>
            <p>LINKEDIN</p>
        </div>
   </div>
</section>