---
const heroImg="../../public/hero_img.jpg"
import '@fontsource/chakra-petch';
---

<div class="bg-[#1f1f1f] font-[Chakra-Petch] relative flex flex-col text-xl border-y border-r outline-1 border-[#5c5757] text-white">
    <p class="">BUILDING FUTURE <i>FOR ALL</i></p>
    <img src={heroImg} class="lg:max-w-lg " alt="modern house image">
</div>

<style>

    * {
        font-family: 'Chakra Petch', 'sans-serif';
    }
</style>