---
const heroImg="../../public/hero_img.jpg"
import '@fontsource/chakra-petch';
---

<div class="bg-[#1f1f1f] font-[Chakra-Petch] relative flex flex-col text-xl border-y border-r outline-1 border-[#5c5757] h-full text-white">
    <p class="h-24 text-[#CC9644] text-5xl lg:text-7xl pl-10 pt-6 z-10 overflow-visible">BUILDING FUTURE <br><i>FOR ALL</i></p>
    <img src={heroImg} class="fit max-h-96 mt-auto z-0 " alt="modern house image">
</div>

<style>

    * {
        font-family: 'Chakra Petch', 'sans-serif';
    }
</style>