---
const projects: number = 100;
const countries: number = 8;
const dogs: number = 9;
---

<div class="bg-[#1f1f1f] border-b md:border-y  border-[#5c5757] h-full w-screen md:w-full outline-1 md:flex flex-col justify-center items-center
">
    <ul class="flex md:flex-col
    gap-16 h-24 md:h-full justify-center items-center
    md:gap-6">
        <li>
            <p class="text-white  text-3xl md:text-6xl">{projects}</p>
            <p>Projects</p>
        </li>
        <li>
           <p class="text-white  text-3xl md:text-6xl">{countries}</p> 

            <p>Countries</p>
        </li>
        <li>
            <p class="text-white  text-3xl md:text-6xl">{dogs}</p>
            <p>Office dogs</p>
        </li>
    </ul>
</div>

<style>

    li {
        color: white;
    }

    p {
       color: #696969; 
       font-size: calc(4*4px);
       font-family: 'Chakra Petch';
       text-align: center;
    }

    * {
        font-family: 'Chakra Petch', 'sans-serif';
    }

</style>
